{{set . "title" "EmDrive"}}
{{template "header.html" .}}
<div class="row">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-6 pagination-centered text-center">
            <div class="jumbotron">
              <div class="jumbotron-contents">
                <h1>EmDrive: Academic build automation engine</h1>
                <h2>HTML Structure</h2>
                <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <h2>CSS Structure</h2>
                <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
              </div>
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li class="" data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li class="" data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="item active"><img src="/public/img/slider1.jpg"></div>
                  <div class="item"><img src="/public/img/slider2.png"></div>
                  <div class="item"><img src="/public/img/slider3.png"></div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
          </div>
</div>
{{template "footer.html" .}}
